.header-item-hover-effect {
    position: relative;
    &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--hover);
        color: var(--color-accent-foreground);
        overflow: hidden;
        transition: 200ms ease;
        transform-origin: center;
        transform: scaleY(0);
    }
}

.header-item-hover-effect:hover::after {
    transform: scaleY(1);
}

nav.mobile-nav .login-button {
    position: absolute;
    left: 50%;
    bottom: 2em;
    transform: translate(-50%, -50%);
}

.slide-from-right[data-state="open"] {
    animation: slideIn 200ms ease-in-out 1 forwards;
}

.slide-from-right[data-state="closed"] {
    animation: slideOut 200ms ease-in 1 forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}