.password-input {
    display: flex;
    align-items: center;
    gap: .5em;

    input {
        width: 100%;
    }

    svg {
        cursor: pointer;
        transition: transform 200ms ease;
        &:hover { scale: 1.05 }
        &:active { scale: .95 }
    }
}