.loading-featured-news {
    position: relative;
    grid-column: span 2;
    grid-row: span 2;
    height: auto;
    border-radius: 24px;
    overflow: hidden;
    background: var(--cards);
    border: 2px solid var(--bordas);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--shadow);
    transition: all 200ms ease;
}